.item__detail_container {
    display: grid;
    margin-top: 2rem;
    place-content: center;
}

.item__detail__info {
    display: flex;
    gap: 10rem;
}

.item__detail__img {
    aspect-ratio: 1/1;
    object-fit: cover;
}

.item__detail {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.item__detail__description {
    max-width: 50ch;
}

.item__detail__price {
    font-weight: var(--fw-bold);
    font-size: var(--fs-20);
}

.item__detail__price::after {
    content: '.00';
    font-weight: var(--fw-bold);
    font-size: var(--fs-20);
}