.item__preview__container {
    display: grid;
    grid-template-columns: repeat(4, min(15rem));
    align-content: center;
    margin-block: 3rem;
    gap: 2rem;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: 0;
}

@media (min-width: 1300px) {
    .item__preview__container {
        place-content: center;
    }
}

.item__preview__container::-webkit-scrollbar {
    display: none;
}

.items__container__label {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: .5rem;
    width: 16rem;

    font-size: var(--fs-16);
    font-weight: var(--fw-light);
    color: var(--green);
    text-decoration: none;

    background-color: var(--lightgreen);
    border-radius: .75rem;
    padding: .5rem 1rem;
}