.welcome__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    text-align: center;
    padding-block: 2rem 3rem ;
    border-bottom: 1px solid var(--lightgray);
    position: relative;
}

.welcome__paragraph {
    max-width: 30ch;
}

.welcome__btn {
    margin-block: 1rem;
}

@media (min-width: 768px) {
    .welcome__section {
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: center;
        gap: 5rem;

        text-align: left;
        padding-block: 5rem 3rem ;

    }
    
    .welcome__paragraph {
        max-width: 29ch;
    }
    
    .welcome__btn {
        position: absolute;
        bottom: 2rem;
        right: 6.5rem;
    }
}

@media (min-width: 1024px) {
    .welcome__section {
        flex-direction: row-reverse;
        align-items: center;
        gap: 5rem;

        text-align: left;
        padding-block: 5rem 5rem ;

    }
    
    .welcome__btn {
        position: absolute;
        bottom: 4rem;
        right: 10rem;
    }
}

/* MALA PRACTICA PERDON NO SABIA COMO SOLUCIONARLO */

@media (min-width: 1140px) {

    .welcome__btn {
        right: 11rem;
    }
}

@media (min-width: 1300px) {
        
    .welcome__btn {
        right: 16rem;
    }
}

@media (min-width: 1350px) {
        
    .welcome__btn {
        right: 18rem;
    }
}

@media (min-width: 1430px) {
        
    .welcome__btn {
        right: 21rem;
    }
}

@media (min-width: 1460px) {
        
    .welcome__btn {
        right: 34rem;
    }
}

