.itemList__container {
    display: grid;
    margin-block: 3rem;
    height: 100dvh;

    gap: 2rem;
}

@media (min-width: 768px) {
    .itemList__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .itemList__container {
        grid-template-columns: repeat(4, 1fr);
    }
}