/* .itemList__container {
    display: flex;
    flex-wrap: wrap;
    gap: 8rem;
    margin-top: 2rem;
    margin-inline: 8rem;
} */
.itemList__container {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 300px));
    gap: 8rem;
    margin: 2rem 7rem;

}