.item__card {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    align-items: center;
    scroll-snap-align: center;
}

.item__description {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    align-items: center;
}

.item__name {
    font-size: 18px;
    font-weight: var(--fw-light);
}

.item__price {
    font-size: var(--fs-24);
    font-weight: var(--fw-regular);
    color: var(--green);
}

.item__detail__btn {
    display: flex;
    flex-direction: row-reverse;
}

.item__detail__link {
    text-decoration: none;
    color: var(--white);
    background-color: var(--green);
    padding: .5rem 1rem;
    border-radius: 8px;
    transition: .3s ease;
}

.item__detail__link:is(:hover, :focus-visible) {
    background-color: var(--green-hover);
    scale: 1.02;
}

