.item__description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.item__info {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item__name {
    font-size: 18px;
    font-weight: var(--fw-regular);
}

.item__price {
    font-weight: var(--fw-bold);
}

.item__detail__btn {
    display: flex;
    flex-direction: row-reverse;
}

.item__detail__link {
    text-decoration: none;
    color: var(--white);
    background-color: var(--darkerblue);
    padding: .5rem 1rem;
    border-radius: 8px;
    transition: .3s ease;
}

.item__detail__link:is(:hover, :focus-visible) {
    background-color: var(--darkerblue-hover);
    scale: 1.02;
}

