.navbar__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 2rem;
    border-bottom: 2px solid var(--darkerblue);
}

.brand__container {
    display: flex;
    gap: 1rem;
}

.brand__logo {
    width: 2rem;
    height: 2rem;
    border: 1px solid black;
    cursor: pointer;
}

.brand__name {
    color: var(--darkerblue);
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    padding: 0;
    opacity: 0;
    z-index: -1;
}

.searchbar__input {
    padding: .5rem;
    border-radius: .25rem;
    border: 1px solid var(--lightblue) ;
    cursor: pointer;
    width: 400px;
}

.searchbar__input:focus {
    outline: transparent;
    border: 2px solid var(--darkerblue);
}

.menu__container {
    display: flex;
    gap: 2rem;

    font-size: var(--fs-16);
    font-weight: var(--fw-bold);
}

.categories {
    text-decoration: none;
    color: black;
}

.shopping__cart {
    position: relative;
    cursor: pointer;
}

.cart__icon {
    color: var(--darkerblue);
}

.hardcoded__number {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(.6rem, .5rem);
   
}

.bg__color {
    display: flex;
    align-items: center;
    justify-content: center;


    width: 1rem;
    height: 1rem;
    background: red;
    opacity: .6;
    color: white;
    border-radius: 50%;
    padding: .6125rem;   
}