.footer__container {
    background-color: var(--blue);
    padding-block: 4rem;

    color: var(--white);
}

@media (min-width: 768px) {
    .footer__container {
        display: grid;
        grid-template-columns: minmax(15rem, 1fr) 1fr 1fr;
        align-items: center;
        justify-content: center;
        place-items: center;
        gap: 5rem;
    }
    
}

.footer__address {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer__address > h2,
.footer__address > h3 {
    font-size: var(--fs-16);
    font-weight: var(--fw-light);
}

.footer__address > h3 {
    color: var(--gray);
}

.footer__links {
    padding: 0;
    margin-block: 3rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    font-weight: var(--fw-light);
}

@media (min-width: 1024px) {
    .footer__links {
        flex-direction: row;
    }
}

@media (min-width: 1300px) {
    .footer__links {
        display: grid;
        grid-template-columns: repeat(3, min(10rem));
        place-items: center;
    }
}


.footer__link {
    color: var(--white);
    text-decoration: none;
}

.footer__social__media {
    padding: 0;
    display: flex;
    gap: 1.5rem;
}

.footer__social__media > li > a {
    text-decoration: none;
    color: var(--white);
}