/* --------------- Font import --------------- */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* --------------- CSS Reset --------------- */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--ff-primary);
  color: var(--black);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

li {
  list-style: none;
}

::selection {
  color: var(--white);
  background: var(--darkerblue);
}

/* --------------- Variables --------------- */

:root {
  --ff-primary: 'Roboto', sans-serif;

  --fs-16: 1rem;
  --fs-20: 1.5rem;
  --fs-32: 2rem;
  --fs-48: 3rem;
  --fs-64: 4rem;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;

  --white: hsl(0, 0%, 100%);
  --lightgray: hsl(0, 0%, 97%);
  --black: hsl(0, 0%, 6%);
  --lightblue: hsl(182, 39%, 85%);
  --darkerblue: hsl(185, 71%, 33%);
}

/* --------------- Utility classes --------------- */

.mg__inline {
  padding-inline: 7rem;
}

body {
  background: var(--lightgray);
}