/* --------------- Font import --------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* --------------- CSS Reset --------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--ff-primary);
  color: var(--black);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

li {
  list-style: none;
}

::selection {
  color: var(--white);
  background: var(--green);
}

/* --------------- Variables --------------- */

:root {
  --ff-primary: 'Poppins', sans-serif;

  --fs-16: 1rem;
  --fs-20: 1.25rem;
  --fs-24: 1.5rem;
  --fs-32: 2rem;
  --fs-48: 3rem;
  --fs-64: 4rem;

  --fw-light: 400;
  --fw-regular: 500;
  --fw-bold: 600;

  --white: hsl(0, 0%, 100%);
  --lightgray: hsl(0, 0%, 91%);
  --gray: hsl(228, 4%, 54%);
  --black: hsl(0, 0%, 6%);
  --lightgreen: hsl(183, 50%, 95%);
  --green: hsl(183, 57%, 40%);
  --green-hover: hsl(183, 71%, 28%);
  --blue: hsl(225, 34%, 19%);
  --lightred: hsl(0, 60%, 97%);
  --red: hsl(0, 63%, 53%);
}

/* --------------- Utility classes --------------- */

.mg__inline {
  padding-inline: 1rem;
}

@media (min-width: 768px) {
  .mg__inline {
    padding-inline: 3rem;
  }
}

@media (min-width: 1024px) {
  .mg__inline {
    padding-inline: 6rem;
  }
}

.link {
  text-decoration: none;
  color: black;
}

.heading {
  font-size: var(--fs-32);
  font-weight: var(--fw-bold);
}

.subheading {
  font-size: var(--fs-20);
  font-weight: var(--fw-light);
}

.section__heading {
  display: inline;
  padding-block: 1rem;
  border-bottom: 1px solid var(--green);
}

.center {
  display: grid;
  place-content: center;
}

