/* --------------- Font import --------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* --------------- CSS Reset --------------- */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--ff-primary);
  color: var(--black);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

li {
  list-style: none;
}

::selection {
  color: var(--white);
  background: var(--darkerblue);
}

/* --------------- Variables --------------- */

:root {
  --ff-primary: 'Poppins', sans-serif;

  --fs-16: 1rem;
  --fs-20: 1.5rem;
  --fs-32: 2rem;
  --fs-48: 3rem;
  --fs-64: 4rem;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;

  --white: hsl(0, 0%, 100%);
  --lightgray: hsl(0, 0%, 91%);
  --gray: hsl(228, 4%, 54%);
  --black: hsl(0, 0%, 6%);
  --lightblue: hsl(183, 50%, 95%);
  --darkerblue: hsl(183, 57%, 40%);
  --darkerblue-hover: hsl(183, 71%, 28%);
}

/* --------------- Utility classes --------------- */

.mg__inline {
  padding-inline: 1rem;
}

.link {
  text-decoration: none;
  color: black;
}

.heading {
  font-size: 2rem;
  font-weight: 600;
}

.subheading {
  font-size: 1rem;
  font-weight: 400;
}